.Box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  margin-top: 58px;
}
.Box div {
  display: flex;
}
.Fontdiv {
  color: #4b4b4b;
  margin-left: 8px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
}
.Imagediv {
  margin-top: 4px;
}
.Imagebox {
  width: 100%;
  background-color: #4b4b4b;
  border-radius: 11px;
  padding: 4px;
}
.Imagebox div {
  aspect-ratio: 1/1;
  max-width: 100%;
  overflow: hidden;
  padding: 4px;
}
.Imagebox div img {
  object-fit: cover;
  border-radius: 10px;
}
