.Grid {
  display: flex;
  margin-top: 0px !important;
  margin-left: -16px !important;
}

.Testdiv {
  height: 100px;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.Testdiv > div {
  display: flex;
  justify-content: flex-start;
}

.Testdiv::-webkit-scrollbar {
  display: none;
}

.Testimg {
  height: 80px;
  object-fit: contain;
  margin: 10px;
}

.TestimgSel {
  background-color: black;
}
