.Main {
  display: flex;
  flex-direction: row;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
.Main div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.Logo {
  object-fit: cover;
  overflow: hidden;
  margin: auto;
}
.Icon {
  object-fit: cover;
  margin: auto;
  max-height: 23px;
}
.Resin {
  min-width: 75px;
  font-size: 18px;
}
.Home {
  min-width: 93px;
  font-size: 18px;
}
.Name {
  white-space: pre-line;
  font-size: 48px;
}
.Logobox {
  max-width: 130px;
  margin-bottom: 47px;
  margin-top: 63px;
}
.Namebox {
  margin-bottom: 13px;
}
.Resinbox {
  margin-bottom: 11px;
}
